* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    font-weight: 500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
   min-height: 100vh;
   background-color: #86AB89; 
}

p {
    font-weight: bolder;
    margin-top: 7px;
    margin-bottom: 10px;

}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    min-height: 45vh;
    width: 40vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.from {
    margin: 2rem 0 1rem 0;
}

.from select, button, input {
    width: 100%;
    /* border: ; */
    outline: none;

}

.from input {
    border: 1px solid #86AB89;
    font-size: 1rem;                  
    height: 2.5rem;
    padding: 1rem;
}

.to {
    margin: 2rem 0 1rem 0;
}

.to select, button, input {
    width: 100%;
    /* border: ; */
    outline: none;

}

.to input {
    border: 1px solid #86AB89;
    font-size: 1rem;                  
    height: 2.5rem;
    padding: 1rem;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 3.5rem;
}

.exchange {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        background-color: #758694;
        color: #1E201E;
        font-size: 1.15rem;
        /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); */
}

select {
    border-radius: 8px;
    margin-left: 10px;
    width: fit-content;
    padding: 0;

}

.select-container img {
    max-width: 35px;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
}
